<style>
  #titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: 100%;
    background-color: #080714;
    color: #fff;
  }

  .maximized #titlebar {
    width: 100%;
    padding: 0;
  }

  #titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
  }

  #titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
  }

  #window-title {
    position: fixed;
    width: 100%;
    text-align: center;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 16px;
    user-select: none;
    transform: translateY(4px);
  }

  .maximized #window-title {
    margin-left: 12px;
  }

  #window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }

  #window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  #window-controls {
    -webkit-app-region: no-drag;
  }

  #window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  @media (-webkit-device-pixel-ratio: 1.5),
    (device-pixel-ratio: 1.5),
    (-webkit-device-pixel-ratio: 2),
    (device-pixel-ratio: 2),
    (-webkit-device-pixel-ratio: 3),
    (device-pixel-ratio: 3) {
    #window-controls .icon {
      width: 10px;
      height: 10px;
    }
  }

  #window-controls .button {
    user-select: none;
  }

  #window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  #window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
  }

  #close-button:hover {
    background: #e81123 !important;
  }

  #close-button:active {
    background: #f1707a !important;
  }

  #min-button {
    grid-column: 1;
  }
  #max-button,
  #restore-button {
    grid-column: 2;
  }
  #close-button {
    grid-column: 3;
  }

  #restore-button {
    display: none !important;
  }

  .maximized #restore-button {
    display: flex !important;
  }

  .maximized #max-button {
    display: none;
  }
</style>
<header id="titlebar">
  <div id="drag-region">
    <div id="window-title">
      <span>Better Launcher</span>
    </div>

    <div id="window-controls">
      <div class="button" id="max-button">
        <img
          class="icon"
          srcset="
            ../assets/icons/min-w-10.png 1x,
            ../assets/icons/min-w-12.png 1.25x,
            ../assets/icons/min-w-15.png 1.5x,
            ../assets/icons/min-w-15.png 1.75x,
            ../assets/icons/min-w-20.png 2x,
            ../assets/icons/min-w-20.png 2.25x,
            ../assets/icons/min-w-24.png 2.5x,
            ../assets/icons/min-w-30.png 3x,
            ../assets/icons/min-w-30.png 3.5x
          "
          draggable="false"
        />
      </div>
      <div class="button" id="close-button">
        <img
          class="icon"
          srcset="
            ../assets/icons/close-w-10.png 1x,
            ../assets/icons/close-w-12.png 1.25x,
            ../assets/icons/close-w-15.png 1.5x,
            ../assets/icons/close-w-15.png 1.75x,
            ../assets/icons/close-w-20.png 2x,
            ../assets/icons/close-w-20.png 2.25x,
            ../assets/icons/close-w-24.png 2.5x,
            ../assets/icons/close-w-30.png 3x,
            ../assets/icons/close-w-30.png 3.5x
          "
          draggable="false"
        />
      </div>
    </div>
  </div>
</header>

<script>
  const clsBtn = document.getElementById("close-button");
  const minimalizeBtn = document.getElementById("max-button");

  clsBtn.addEventListener("click", () => {
    window.electron.close();
  });
  minimalizeBtn.addEventListener("click", () => {
    window.electron.minimalize();
  });
</script>
