<div id="welcome" style="display: none">
  <div class="flex h-[85vh] w-screen flex-row justify-around">
    <div class="float-left mx-24 flex flex-col justify-center">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight dark:text-white md:text-5xl lg:text-6xl"
      >
        Better
      </h1>
      <span
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-[#E384FF] md:text-5xl lg:text-6xl"
        >Launcher</span
      >
    </div>
    <div
      id="right-content "
      class="w-\[100\%\] float-right mx-24 flex flex-col items-center justify-center text-center"
    >
      <p
        class="text-lg font-normal text-gray-500 dark:text-gray-400 lg:text-xl"
      >
        Nowy, zajebiście szybki, launcher do minecrafta
      </p>

      <button
        type="button"
        class="my-6 mr-2 mb-2 inline-flex items-center rounded-lg bg-[#FFA3FD] px-5 py-2.5 text-center text-sm font-medium text-white transition-all duration-300 hover:bg-[#E384FF]/90 hover:transition-all focus:outline-none focus:ring-transparent"
        id="openLoginMS"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512"
        >
          <rect x="51.2" y="51.2" width="153.6" height="153.6" fill="#fff" />
          <rect x="256" y="51.2" width="153.6" height="153.6" fill="#fff" />
          <rect x="51.2" y="256" width="153.6" height="153.6" fill="#fff" />
          <rect x="256" y="256" width="153.6" height="153.6" fill="#fff" />
        </svg>

        Zaloguj się kontem Microsoft
      </button>
      <hr
        class="mx-auto my-6 h-1 w-48 rounded border-0 bg-gray-100 dark:bg-gray-700"
      />

      <button
        id="dropdownAccountButton"
        data-dropdown-toggle="dropdown"
        class="inline-flex items-center rounded-lg bg-[#865DFF] px-4 py-2.5 text-center text-sm font-medium text-white transition-all duration-300 hover:bg-[#6a3bf7] hover:transition-all focus:outline-none focus:ring-transparent"
        type="button"
      >
        Wybierz konto
        <svg
          class="ml-2 h-4 w-4"
          aria-hidden="true"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          ></path>
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div
        id="dropdown"
        class="z-10 hidden w-44 divide-y divide-gray-100 rounded-lg bg-[#6b4acc] shadow"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownDefaultButton"
          id="accountsList"
        ></ul>
        <div
          onclick="dropdownAccountButton.click()"
          class="py-2"
          data-modal-target="offlineAccounts"
          data-modal-toggle="offlineAccounts"
        >
          <a
            class="block cursor-pointer px-4 py-2 text-sm font-bold text-gray-700 transition-all duration-300 hover:bg-[#865DFF] hover:transition-all focus:ring-transparent dark:text-gray-200 dark:hover:text-white"
            >Dodaj konto (offline)</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div
  id="offlineAccounts"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden h-[calc(100%-1rem)] w-full animate-opacityAnimation overflow-y-auto overflow-x-hidden p-4 md:inset-0 md:h-full"
>
  <div class="relative h-full w-[50%] max-w-2xl md:h-auto">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-[#11111a] shadow-2xl">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between rounded-t border-b p-4 dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Dodaj konto offline
        </h3>
        <button
          type="button"
          class="ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="offlineAccounts"
        >
          <svg
            class="h-5 w-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="flex h-[30vh] max-h-full items-center justify-center p-6">
        <div class="flex flex-row items-center justify-center">
          <div class="flex flex-col items-center justify-center">
            <input
              type="text"
              id="first_name"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 outline-none ring-0 ring-transparent focus:ring-0 focus:ring-transparent dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
              placeholder="Nickname"
              required
            />
            <p id="valdate" class="p-2 text-white">twoj stary jest za krotki</p>
          </div>
          <button
            type="button"
            id="addAccountOffline"
            class="ml-5 mr-2 inline-flex items-center rounded-lg bg-blue-700 p-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <svg
              aria-hidden="true"
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
