<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/stylesheets/style.css" />
    <script src="../assets/javascripts/jquery.js"></script>
  </head>
  <body>
    <%- include('modules/titlebar.ejs') %>
    <!-- FOR TAILWIND REBUILD SCRIPT BYPASS -->
    <div class="text-[#865DFF]"></div>
    <div
      id="app"
      class="h-screen w-screen select-none overflow-hidden bg-[#191825]"
    >
      <div class="flex h-screen w-screen flex-col items-center justify-center">
        <div
          class="top flex h-[15vh] w-[80%] justify-center"
          style="margin-top: 48px"
        >
          <ol
            class="flex w-full items-center text-center text-sm font-medium text-gray-500 dark:text-gray-400 sm:text-base"
          >
            <li
              id="screenStatusLogin"
              class="after:border-1 flex items-center after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200 dark:after:border-gray-700 sm:after:inline-block sm:after:content-[''] md:w-full xl:after:mx-10"
            >
              <span
                class="flex items-center after:mx-2 after:font-light after:text-gray-200 after:content-['/'] dark:after:text-gray-500 sm:after:hidden"
              >
                Zaloguj
                <span class="hidden sm:ml-2 sm:inline-flex">się</span>
              </span>
            </li>
            <li
              id="screenStatusVersion"
              class="after:border-1 flex items-center after:mx-6 after:hidden after:h-1 after:w-full after:border-b after:border-gray-200 after:content-[''] dark:after:border-gray-700 sm:after:inline-block md:w-full xl:after:mx-10"
            >
              <span
                class="flex items-center after:mx-2 after:font-light after:text-gray-200 after:content-['/'] dark:after:text-gray-500 sm:after:hidden"
              >
                Wybierz
                <span class="hidden sm:mx-2 sm:inline-flex">wersję </span>
                gry
              </span>
            </li>
            <li class="flex items-center" id="screenStatusRun">
              Uruchamianie
              <span class="hidden sm:ml-2 sm:inline-flex">gry</span>
            </li>
          </ol>
        </div>
        <%- include('screens/welcome.ejs') %> <%-
        include('screens/versions.ejs') %> <%- include('screens/run.ejs') %>
      </div>
    </div>
    <script src="../assets/javascripts/flowbite.js"></script>
    <script src="../assets/javascripts/renderer.js"></script>

    <script>
      // This script has been stolen from the github.

      // The currently shown view container.
      let currentView;

      /**
       * Switch launcher views.
       *
       * @param {string} current The ID of the current view container.
       * @param {*} next The ID of the next view container.
       * @param {*} currentFadeTime Optional. The fade out time for the current view.
       * @param {*} nextFadeTime Optional. The fade in time for the next view.
       * @param {*} onCurrentFade Optional. Callback function to execute when the current
       * view fades out.
       * @param {*} onNextFade Optional. Callback function to execute when the next view
       * fades in.
       */
      function switchView(
        current,
        next,
        currentFadeTime = 500,
        nextFadeTime = 500,
        onCurrentFade = () => {},
        onNextFade = () => {}
      ) {
        currentView = next;
        $(`${current}`).fadeOut(currentFadeTime, async () => {
          await onCurrentFade();
          $(`${next}`).fadeIn(nextFadeTime, async () => {
            await onNextFade();
          });
        });
      }

      /**
       * Get the currently shown view container.
       *
       * @returns {string} The currently shown view container.
       */
      function getCurrentView() {
        return currentView;
      }
    </script>
  </body>
</html>
