<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/stylesheets/style.css" />
  </head>
  <style>
    body {
      background: black;
      color: white;
    }
    pre code {
      font: 11pt/1.25 Monaco, monospace;
    }

    .debug {
      color: Snow;
    }
    .info {
      color: LawnGreen;
    }
    .warn {
      color: GoldenRod;
    }
    .error {
      color: LightCoral;
    }
  </style>
  <body class="overflow-auto">
    <script src="../../assets/javascripts/renderers/logs.js"></script>
  </body>
</html>
