<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/stylesheets/style.css" />
  </head>
  <body>
    <div class="h-screen w-screen bg-[#080714] overflow-hidden select-none">
      <div class="flex-col pt-4">
        <div class="w-full bg-[#191825]">
          <div
            class="bg-[#FFA3FD] text-m font-medium text-black text-center p-0.5 leading-none"
            id="downloadingProgress"
          >
            0%
          </div>
        </div>
        <div class="text-center pt-4">
          <button
            id="install"
            class="hidden relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              Install
            </span>
          </button>
        </div>
      </div>
    </div>
    <script src="../../assets/javascripts/renderers/optifine.js"></script>
  </body>
</html>
